# --- GENERAL -----------------------------------------------------------------

zmap: tcp-80_YYYY-MM-DD_HH-MM-SS

connection_count: 4
requests_per_connection: 4

measurement_mode: rt-based

# --- DETAILS -----------------------------------------------------------------

fixed_interval:
  request_interval: 20ms
  minimum_reply_rate: 0.8

tcp:
  establish_connection: false
  # ELSE
  request_flags: S
  reply_flags:
    - SA
    - RA
    - R

request_ip_ids:
  - 18933
  - 18932
  - 3717
  - 3718
  - 3719

maximum_tolerated_rtt: 2s

# --- SPEED -------------------------------------------------------------------

bandwidth: 30M
packets_per_second: null

number_of_inflight_probes: 5K

# --- INTERFACE ---------------------------------------------------------------

interface:
  name: eth0
  ip_a: 123.45.67.89
  ip_b: 123.45.67.90

# --- LOGGING -----------------------------------------------------------------

log_to_file: false

# --- MEMORY ------------------------------------------------------------------

# go_memory_limit: 700M

# --- UPLOAD ------------------------------------------------------------------

upload:
  enable: true
  s3_destination: s3://bucket/prefix/
  delete_local: false